.page-login-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #278eff;
}

.login-card-container {
  position: relative;
}

.login-card {
  width: 500px;
  border-radius: 24px;
  padding: 75px 60px;
  background-color: #fff;
}
