.layout-footer {
  background-color: #278eff;
  margin-top: 48px;
}

.layout-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
